html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.admin_body {
  background-color: #3A3535;
  color: #FF7315;
}

.hidden_on_change{
  display: none;
}

.navbar {
  overflow: hidden;
  background-color: blueviolet;
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

.info-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  background-color: orange;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: black;
}

.header-missing {
  color: orange;
  padding-top: 25px;
}

.fortnite {
  flex-wrap: wrap;
}

.form-title {
  color: #fff;
}









/* universal code */
.greet-navbar {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
}

.greet-navbar-div {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
  display: flex;
}

.greet-navbar-div p{
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#pricing {
  margin: 3vh;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid #000;
  background-color: #232020;
}

.animal {
  width: 100%;
  object-fit: contain;
}

.listing h2 {
  margin: 0;
  font-size: 5vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.listing ul {
  margin: 0;
  padding: 0;
}

.listing li {
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0.75rem;
  list-style: none;
  text-align: center;
  margin-left: 0;
}

.last {
  padding-bottom: 1rem;
}

.btn {
  background-color: #3A3535;
  text-decoration: none;
  color: #FF7315;
  font-size: 1.125rem;
  width: 10rem;
  height: 3rem;
  margin-bottom: 1.25rem;
  border: 0 solid;
  border-radius: 0.25rem;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #FF7315;
  color: #3A3535;
}

#pricing p {
  font-size: 1rem;
}
/* end of universal code */









/* User Home Page */
.user_body {
  background-color: #3A3535;
  color: #FF7315;
}

.navbar-user {
  overflow: hidden;
  background-color: #232020;
  position: sticky;
  top: 0;
}

.navbar-user a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
}

.navbar-user a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-user a.active {
  background-color: #666;
  color: white;
}
/* end of User Home Page */










.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease;
}
.description a {
  color: #4A9DF6;
  text-decoration: none;
}
.btn-front-1.is-open ~ .description {
  opacity: 0;
}
.btn-front-1 {
  display: block;
  position: relative;
  width: 10rem;
  height: 3rem;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
  margin-bottom: 1.25rem;
}
.btn-front {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  align-items: center;
  font-size: 1.125rem;
  width: 10rem;
  height: 3rem;
  text-align: center;
  background-color: #3A3535;
  color: #FF7315;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 1s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.25rem;
}
.btn-front:hover {
  background-color: #FF7315;
  color: #3A3535;
}
.btn-front-1.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}
.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3A3535;
  color: #FF7315;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
  border-radius: 0.25rem;
  border: 0.125rem solid #232020;
}
.btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 1.125rem;
}
.btn-back button {
  padding: 12px 20px;
  width: 20vh;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 2vh;
  /* cursor: pointer; */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease;
}
.btn-back button:focus {
  outline: 0;
}
.btn-back button.yes {
  background-color: #232020;
  color: #FF7315;
  border: 0.125rem solid #232020;
}

.btn-back button.yes:hover {
  background-color: #3A3535;
}
.btn-back button.no {
  color: #FF7315;
}
.btn-back button.no:hover {
  background-color: #232020;
}
.btn-front-1.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
.btn-front-1[data-direction="left"] .btn-back, .btn-front-1[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}
.btn-front-1.is-open {
  width: 400px;
  height: 160px;
}
.btn-front-1[data-direction="top"].is-open {
  transform: rotateX(180deg);
}
.btn-front-1[data-direction="right"].is-open {
  transform: rotateY(180deg);
}
.btn-front-1[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}
.btn-front-1[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}

.desc-home {
  width: 35vw;
}
/* @media (max-width: 64rem) {
  #pricing .box {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1rem;
  }
  .listing {
    width: calc(100% / 2.25);
    margin: 1rem;
  }
}

@media (max-width: 48rem) {
  #pricing {
    padding-top: 4.25rem;
  }
  .listing {
    margin: 0.75rem;
  }
}

@media (max-width: 40rem) {
  .box {
    flex-direction: column;
    align-items: center;
  }
  #pricing > h2 {
    margin-bottom: 0.85rem;
    padding-top: 1.2rem;
  }
  .listing {
    width: 80%;
  }
  .listing h2 {
    margin: 0.75rem;
  }
  .listing li {
    float: none;
    margin: 0 1.25rem 0.75rem 0.5rem;
  }
  .btn {
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  #pricing p {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 25.875rem) {
  #pricing > h2 {
    padding-top: 1.3rem;
  }
  .listing {
    width: 90%;
  }
} */

@media screen and (max-width: 300px) {
  .listing {
    width: 40vh;
  }

  .desc-home {
    width: 60vw;
  }
}

@media screen and (max-width: 382px) {
  .navbar-user a {
    font-size: 5vw;
  }
  .greet-navbar {
    font-size: 5vw;
  }

  .greet-navbar-div {
    font-size: 5vw;
  }
}

@media screen and (max-width: 499px) {
  .greet-navbar-div {
    padding: 0;
  }
}

@media screen and (min-width: 500px) {
  .hidden_on_change {
    display: contents;
  }
}

@media screen and (min-width: 301px) and (max-width: 415px) {
  .desc-home {
    width: 50vw;
  }
}