/* 10 spaces in between each category of css */
body {
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("5553379.png");
  background-color: black;
}

.user_card_register {
  width: 350px;
  margin-top: 155px;
  margin-left: 530px;
  margin-bottom: auto;
  background: #fd7f20;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.user_card_create {
  width: 350px;
  margin-top: 135px;
  margin-left: 525px;
  margin-bottom: auto;
  background: #fd7f20;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form-title {
  color: #fff;
}

.create_container {
  padding: 0 2rem;
  padding-bottom: 10px;
}

.input_user,
.input_pass:focus {
  box-shadow: none;
  outline: 0px;
}

.register_to_login {
  margin-left: 75px;
  margin-top: 15px;
}

.title-register {
  padding-left: 10px;
  padding-bottom: 0px;
}

.title-create {
  padding-left: 130px;
}

.greet-navbar {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-bottom: 0px;
  padding-top: 4.5px;
  text-decoration: none;
  font-size: 25px;
}

.greet-navbar {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-bottom: 0px;
  padding-top: 6px;
  text-decoration: none;
  font-size: 25px;
}

.navbar {
  overflow: hidden;
  background-color: blueviolet;
  position: sticky;
  top: 0;
  margin: -10px;
  margin-top: -20px;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

.header-missing {
  color: whitesmoke;
}










/* Login screen */
.login_cat_body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.user_card_login {
  width: 350px;
  background: #fd7f20;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;
}

/* .title-login {
  margin-left: 130px;
} */

.form_container {
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

/* .login_container {
  width: 10vh;
} */

.login_btn {
  padding: 5px;
  background: #fc2e20;
  color: whitesmoke;
}

.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_btn:hover {
  cursor: pointer;
}

.login_to_register {
  margin-top: 15px;
}

.login_to_register a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.login_to_register a:hover {
  color: #fc2e20;
}
/* End of Login screen */