{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Cat</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'cute-cat.png' %}"
    />
  </head>
  <body class="user_body">
    <div class="navbar">
      <p class="greet-navbar">hello, {{request.user}}</p>
      <a href="{% url 'create' %}">Create</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% comment %} <----------------navbar----------------> {% endcomment %}
    <div class="col-md-7">
      <h3 class="header-missing"><center>Missing Cats</center></h3>
      <div class="card card-body">
        <table class="info-table">
          <tr>
            <th>Cat Name</th>
            <th>Date Missing</th>
            <th>Description</th>
            <th>Contact Info</th>
            <th>Date Added</th>
          </tr>
          {% for cats in kats %}
          <tr>
            <td>{{cats.name}}</td>
            <td>{{cats.missing}}</td>
            <td class="fortnite">{{cats.description}}</td>
            <td>{{cats.contact}}</td>
            <td>{{cats.date}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
