{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Cat</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'cute-cat.png' %}"
    />
    <script src="{% static 'home-page.js' %}" defer></script>
  </head>
  <body class="user_body">
    <div class="navbar-user">
      <div class="greet-navbar-div"> <section class="hidden_on_change">hello, {{request.user}}</section></div>
      <a href="{% url 'create' %}">Create</a>
      <a href="{% url 'your_cat' %}">Your Pets</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% comment %} <----------------navbar----------------> {% endcomment %}
    {% comment %} <div class="col-md-7">
      <h3 class="header-missing"><center>Missing Cats</center></h3>
      <div class="card card-body">
        <table class="info-table">
          <tr>
            <th>Cat Name</th>
            <th>Date Missing</th>
            <th>Description</th>
            <th>Contact Info</th>
            <th>Date Added</th>
            <th>user</th>
          </tr>
          {% for cats in kats %}
          <tr>
            <td>{{cats.name}}</td>
            <td>{{cats.missing}}</td>
            <td class="fortnite">{{cats.description}}</td>
            <td>{{cats.contact}}</td>
            <td>{{cats.date}}</td>
            <td>{{cats.user}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div> {% endcomment %}
    <section id="pricing">
      <h2>All Missing Pets</h2>
      <div class="box">
        {% for cats in kats %}
        <div class="listing">
          <div class="top">
            <img class="animal" src="static{{cats.img.url}}" alt="users cat">
          </div>
          <h2>{{cats.name}}</h2>
          <ul>
            <li>Date missing:</li>
            <li>{{cats.missing}}</li>
            <li>Description:</li>
            <li class="desc-home">{{cats.description}}</li>
            <li>Contact info:</li>
            <li>{{cats.contact}}</li>
            <li>Date added:</li>
            <li>{{cats.date}}</li>
            <li>Last seen at:</li>
            <li>{{cats.location}}</li>
            <li>Type of Pet:</li>
            <li>{{cats.animal}}</li>
            <li>Owner:</li>
            <li class="last">{{cats.user}}</li>
          </ul>
          {% if cats.user == request.user.username %}
            <a class="btn" href="{% url 'update' cats.id %}">Update</a>
            <div class="btn-front-1">
              <div class="btn-back">
                <p>Did you find your cat?</p>
                <a href="{% url 'delete' cats.id %}"><button class="yes">Yes</button></a>
                <button class="no">No</button>
              </div>
              <div class="btn-front">Cat Found</div>
            </div>
            {% comment %} <a class="btn" href="{% url 'delete' cats.id %}">Cat Found</a> {% endcomment %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
